// # Higher contrast is easier on the eyes

// ## Headings
.dark,
.dark h1 a,
.dark h2 a,
.dark h3 a,
.dark h4 a,
.dark h5 a {
    color: white;
}

// ## Code blocks
.dark pre {
    background-color: black !important;
    border: 1px solid red;
}

// ## Subtitles
.muted {
    color: lightgrey;
}
